@font-face {
  font-family: 'Kantumru';
  src: url('/assets/fonts/Kantumruy_Pro/static/KantumruyPro-Bold.ttf')
    url('/assets/fonts/Kantumruy_Pro/static/KantumruyPro-Regular.ttf')
    url('/assets/fonts/Kantumruy_Pro/static/KantumruyPro-Medium.ttf')
    url('/assets/fonts/Kantumruy_Pro/static/KantumruyPro-Light.ttf')
    url('/assets/fonts/Kantumruy_Pro/static/KantumruyPro-SemiBld.ttf');
}

* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(142deg, #252631, #171824 51%, #0a0b17);
  font-family: 'Kantumru' !important;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 0 4px;
  margin: auto;
}
